* {
    padding: 0;
    margin: 0;
}
.tasks-header img {
    display: none;
}
.task-row .desc {
    display: none;
}
div#root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    padding: 15px;
}
ul {
    list-style: none;
}
.task-row {
    margin-bottom: 10px;
}
.task-row button {
    margin-top: 5px;
}
body {
    background-color: #4a4a4a;
    color: white;
}
button{
    padding: 5px 15px;
    font-size: 1rem;
    border: 1px solid #ff9800;
    background-color: transparent;
    color: #ff9800;
    border-radius: 15px;
}
.task-row .title {
    font-size: 1.1rem;
}
.tasks-header h1 {
    margin-bottom: 10px;
    font-size: 2.7rem;
}
.tasks-header {}
.task-indicator {
    margin-bottom: 10px;
}
[data-status="incomplete"] {
    background-color: transparent;
    color: #ff9800;
}
[data-status="completed"] {
    background-color: #ff9800;
    color: black;
}

@media(min-width: 766px) {
    .tasks-header {
        display: flex;
    }
    .task-indicator strong {
        color: #ff9800;
    }
    .tasks-header img {
        display: block;
        border-radius: 50%;
        width: 116px;
    }
    .tasks-header div {
        margin-left: 20px;
    }
    .task-indicator {
        font-size: 1.5rem;
        margin: 24px 0;
        border-left: 1px solid white;
        padding-left: 10px;
    }
    .task-row .desc {
        display: block;
    }
    .task-row .title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .task-row .desc {
        display: block;
        font-size: 1.3rem;
        margin-bottom: 8px;
    }
}