*{
    margin:0;
    padding:0;
}
body{
    font-size: 16px;
}
h1{
    font-size: 4rem;
    font-weight: bold;
}
li{
    list-style: none;
}
#root {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.task-indicator {
    display: flex;
}
.task-list {
    min-width: 390px;
    margin-right: 30px;
}
.task-indicator div {
    margin-right: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
}
.task-indicator strong {
    font-size: 2rem;
}
.task-row {
    margin: 10px 0 20px 0;
    border: 1px solid #dadada80;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 5px 10px #f3f3f3;
    max-width: 84%;
}
.refresh-btn {
    position: absolute;
    right: 20px;
    box-shadow: 5px 5px 9px #80808042;
}
button {
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
[data-status="Incomplete"] {
    background-color: #ec3f3f;
    color: white;
}
[data-status="Completed"] {
    background-color: #2ad22a;
}